body {
    margin:0;
    padding:0;
}

.sideBar{
    background-color: rgb(230, 227, 227);
    height:80vh;
    width:100vh;
    border-radius:5px;
    margin:20px;
    padding:20px;
}

.searchElement {
    margin-bottom:20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    background:rgb(50, 50, 58);
    color:white;
    margin-bottom:20px;
}

#mainWeather {
    width: 100vh;
    height: 80vh;
    margin-top:20px;
    border-radius:5px;
 
}

#currentWeather {
    width: 100vh;
    height: 40vh;
    border:2px solid grey;
    padding:20px;
    line-height:50px;
}

#fiveDayForecast{
    background-color:green;
    width: 100vh;
    height: 40vh;
}

#uvText {
    color:white;
    padding:10px;
    margin:10px;
    border-radius:5px;
}