body {
    margin:0;
    padding:0;
}

.sideBar{
    background-color: rgb(230, 227, 227);
    height:80vh;
    width:100vh;
    border-radius:5px;
    margin:20px;
    padding:20px;
}

#userInput {
    margin-bottom:20px;
}

button {
    height:35px;
    line-height:35px;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    background:rgb(50, 50, 58);
    color:white;
    margin-bottom:20px;
}

#mainWeather {
    width: 100vh;
    height: 80vh;
    margin-top:20px;
    border-radius:5px;
 
}

#currentWeather {
    width: 100vh;
    height: 40vh;
    border:2px solid grey;
    padding:20px;
    line-height:30px;
    display:none;
}

#fiveDayForecast{
    width: 100vh;
    height: 40vh;
    padding:20px;
    line-height:50px;
}


#uvText {
    color:white;
    border-radius:5px;
}

.uvIndex {
    border-radius:5px;
    padding:5px;
}

#cityName, #forecastHeader{
    margin-bottom:10px;
    font-size:30px;
}

#delete {
    margin-left:10px;
}

.weatherBox {
    width:90%;
    margin:auto;
  
}

.col-2 {
    background:#007bff;
    font:white;
    height:25vh;
    margin: 0px 5px;
    border-radius: 5px;
    display:none;
    font-size:15px;
}

#day1, #day2, #day3, #day4, #day5 {
    color:white;
}

.dayHeader {
    font-size:20px;
    font-weight:bold;
}

